body {
  margin: 0;
}

#top-header {
  background: linear-gradient(to right, #3498db, #1c2833);
  height: 100px;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#top-header h1 {
  font-size: 36px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Titillium Web", sans-serif;
}

.search-card {
  position: fixed;
  top: 125px;
  left: 25px;
  width: 350px;
  z-index: 1;
}

.card-header {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  margin-left: 10px;
  color: white;
}

#btn {
  background-color: white;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-left: 20px;
  margin-top: -5px;
}

.btn:hover {
  background-color: #cacfd2;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 100px;
  left: 0;
  height: 100%;
  width: 350px;
  z-index: 0;
}

.custom-bg-color {
  background-color: #1c2833;
}

.navbar-brand {
  padding: 10px;
  text-align: center;
  width: 100%;
}

.navbar-brand img {
  width: 30px;
  height: 24px;
  display: block;
  margin: 0 auto;
}

#hero {
  background-color: #3498db;
  height: 360px;
  width: 100%;
  margin: 0;
  position: fixed;
  z-index: -1;
  border-bottom: 5px solid white;
}

#forecastBackground {
  background-color: #616a6b;
  height: 51vh;
  width: 100%;
  top: 460px;
  margin: 0;
  position: fixed;
  z-index: -1;
}


#result {
  position: relative;
}

#result h2 {
  font-weight: 500;
  position: absolute;
  top: 21%;
  left: 44%;
}

#forecastcityName {
  font-weight: 500;
  position: absolute;
  top: -80px;
  left: 44%;
  width: 900px;
}

#result h2,
#forecastcityName {
  font-family: "Poppins", sans-serif;
  color: white;
}

#currentHumidity,
#currentTemperature,
#currentWind,
#sunsetTime,
#sunriseTime {
  position: absolute;
  font-size: 32px;
  color: white;
  font-family: "Titillium Web", sans-serif;
}
#currentHumidity {
  left: 25%;
  top: 50px;
}

#currentTemperature {
  left: 25%;
  top: 125px;
}

#feelsLike {
  left: 27%;
  top: 170px;
  position: absolute;
  font-size: 20px;
  color: white;
  font-style: italic;
}

#currentWind {
  left: 25%;
  top: 225px;
}

#sunsetTime {
  left: 75%;
  top: 50px;
  max-width: 310px;
  text-align: center;
}

#sunriseTime {
  left: 76%;
  top: 175px;
  max-width: 310px;
  text-align: center;
}

#descriptionCurrent {
  top: 315px;
  left: 900px;
  position: absolute;
  font-size: 24px;
  color: white;
  font-family: "Titillium Web", sans-serif;
  max-width: 800px;
  text-align: center;
  font-style: italic;
}

#centerScreen {
  display: flex;
  justify-content: center;
}

#titles {
  max-width: 400px;
  text-align: center;
}

#titles p {
  font-size: 24px;
  font-family: "Titillium Web", sans-serif;
  color: white;
}

ul {
  list-style-type: none;
}

#homepageBackground img {
  z-index: -1;
  width: 1920px;
  height: 100vh;
  position: fixed;
}
#homepageBackground h1,
#homepageBackground h2 {
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  position: absolute;
  font-size: 125px;
}
#homepageBackground h1 {
  top: 200px;
  left: 400px;
}
#homepageBackground h2 {
  top: 600px;
  left: 930px;
}

@media only screen and (max-width: 400px) and (min-width: 320px) {
  #titles {
    max-width: 100vh;
    text-align: center;
  }
  #titles h1 {
    font-size: 16px;
    padding: 0;
    margin: 0;
  }
#titles p {
  font-size: 16px;
}

.navbar {
  background-color: none;
}

.search-card {
top:-425px;
left:175px;
position: relative;
}

.search-card h3 {
  font-size: 16px;
}
#btn {
  width:75px;
  margin-left:0;
  display: flex;
  flex-wrap: wrap;
  margin-top:10px;
  margin-left: 50px;
}

#location {
  width:150px;
}
.navbar {
  background-color: transparent; 

}
.custom-bg-color {
  background-color: none;
}
#homepageBackground img {
  width: 1000px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
#homepageBackground h1,
#homepageBackground h2 {
  font-size: 50px;
  position: fixed;
}
#homepageBackground h1 {
  top: 300px;
  left: 5px;
}
#forecastBackground {
width: 100vw;
height: 1900px;
position: relative;
background:linear-gradient(to right, #3498db, #1c2833); ;
}

#hero {
  width:100vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(to right, #3498db, #1c2833)
}
#top-header {
  position: fixed;
  width: 100vw;
}
#currentHumidity,
#currentTemperature,
#currentWind,
#sunsetTime,
#sunriseTime {
  font-size: 18px;
}

#currentTemperature {
  left:2%;
  top:200px;
}
#feelsLike {
  left:2%;
  top:225px;
}
#currentWind {
  left:2%;
  top:275px;
}
#sunsetTime {
  left:50%;
  top:200px;
}

#sunriseTime {
  left:50%;
  top:275px;
}
#currentHumidity {
  left:2%;
  top:315px;
}
#descriptionCurrent {
  top: 425px;
  font-size: 18px;
  text-align: center;
 left:0px;
 padding-left: 5px;

}
#result h2,
#forecastcityName {
  left:10%;
  font-size: 24px;
  text-align: center;
  top:125px;
}
#iconContainer img {
  width:80px !important;
  top:340px !important;
  left:115px !important;
}

#forecastcityName {
  left:25px !important;
  width: 225px !important;
  top:-100px !important;

}
.forecastContainer {
  width:75% !important; 
  position: relative !important;
  left: auto !important;
  top: -175px !important;
  margin-left:50px !important;
  margin-top:25px !important;
  z-index:-1 !important;
}
#cityStorage {
display:none;
}
}
